/* You can add global styles to this file, and also import other style files */
body {
    background: #ff8585;
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #75006f, #750052); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titulo {
    text-align: center;
    font-family: 'Potta One', cursive;
}